@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptug8zYS_SKggPNyC0IT4ttDfA.woff2) format('woff2'), url(/fonts/raleway.woff2) format('woff2');
}

@font-face {
    font-family: 'Raleway Bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptug8zYS_SKggPNyC0IT4ttDfA.woff2) format('woff2'), url(/fonts/raleway.woff2) format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4gaVIUwaEQbjA.woff2) format('woff2'), url(/fonts/open_sans.woff2) format('woff2');
}

@font-face {
    font-family: 'Raleway Thin';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvao7CIPrEVIT9d0c8.woff2) format('woff2'), url(/fonts/raleway-thin.woff2) format('woff2');
}

@font-face {
    font-family: 'Open Sans Light';
    font-style: normal;
    font-weight: 300;
    font-stretch: 100%;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v34/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-mu0SC55I.woff2) format('woff2'), url(/fonts/opensans-light-bold.woff2) format('woff2');
}

@font-face {
    font-family: 'Open Sans Bold';
    font-style: normal;
    font-weight: 700;
    font-stretch: 100%;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v34/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-mu0SC55I.woff2) format('woff2'), url(/fonts/opensans-light-bold.woff2) format('woff2');
}

* {
    box-sizing: border-box;
}

.page {
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;
    font-family: 'Open Sans';
}

.button {
    position: absolute;
    cursor: pointer;
    font-size: 15px;
    top: 30px;
    width: 35px;
    height: 35px;
    border: none;
}

#btnnl {
    right: 95px;
}

#btnen {
    right: 60px;
}

.button input {
    position: absolute;
    cursor: pointer;
    opacity: 0;
    height: 0;
    width: 0;
}

.button {
    text-align: center;
    color: lightgray;
    background-color: white;
    padding: 6px;
}

.button:hover {
    background-color: #00b6e8;
    color: white;
}

.btn-active:hover {
    background-color: white;
    color: lightgray;
}

.btn-active {
    background-color: #00b6e8;
    color: white;
}

.nav {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 40px;
    top: 100px;
    right: 60px;
    font-size: large;
    padding-inline: 0;
}

ul {
    list-style-type: none;
}

li.nav-links a {
    padding-bottom: 10px;
    color: black;
    text-decoration: none;
}

li.nav-links a:hover,
li.active a {
    color: #00b6e8;
    border-bottom-style: solid;
    border-bottom-color: #00b6e8;
}

.text-header {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.text-section-first {
    background-color: rgb(234, 234, 234);
    position: absolute;
    top: 154px;
    text-align: left;
    left: 0;
    padding: 60px 40px;
    height: 480px;
    width: 100%;
}

.text-header {
    padding-top: 25px;
    padding-left: 20px;
    font-family: 'Raleway';
}

.heading-first-half {
    font-family: 'Raleway thin';
}

.heading-second-half {
    font-family: 'Raleway Bold';
}

.text {
    text-align: left;
    padding-right: 40%;
    padding-left: 20px;
    margin: 0;
}

.logo {
    position: absolute;
    top: 30px;
    left: 45px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 1px solid rgb(244, 239, 239);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    top: 500px;
    margin: 500px auto 30px auto;
}

.img-grids {
    position: relative;
}

.img-grid {
    display: block;
    position: relative;
    object-fit: cover;
    height: 350px;
    width: 550px;
    opacity: 1;
}

.overlay {
    background-color: black;
    color: white;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
    opacity: 0;
}

.overlay:hover,
.overlay:focus {
    opacity: 0.6;
}

li.product-link a {
    text-decoration: none;
    color: white;
    font-size: x-large;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

li {
    list-style-type: none;
}

li.product-link a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.img-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-banana {
    transform: scaleX(-1);
}

.price-tag {
    display: block;
    position: absolute;
    inset: 75% 0 5% 74%;
    color: white;
    background-color: #00b6e8;
    height: 40px;
    width: 120px;
    transform: skewY(-8deg);
    margin-right: 25px;
}

.price-title {
    position: absolute;
    font-family: 'Open Sans Light';
    font-size: xx-small;
    padding: 0 5px;
}

.price {
    position: absolute;
    font-family: 'Open Sans Bold';
    left: 22%;
    font-size: xx-large;
    top: -2px;
}

.price-triangle {
    position: absolute;
    bottom: -22px;
    transform: rotate(10deg);
    width: 0;
    height: 0;
    border-top: 11px solid transparent;
    border-right: 60px solid #00b6e8;
    border-bottom: 15px solid transparent;
}


.grid-btn {
    display: flex;
    justify-content: center;
    position: relative;
    box-shadow: 3px 3px lightgray;
}

.product-btn {
    background-color: #00b6e8;
    color: white;
    border: none;
    padding: 10px 15px;
    font-weight: bold;

}

.product-btn:hover {
    text-decoration: underline;
    cursor: pointer;
}

.text-section-second {
    background-color: rgb(234, 234, 234);
    text-align: left;
    padding: 30px 380px 30px 60px;
    height: 400px;
    width: 100%;
    margin: 35px 0;
    line-height: 27px;
}

.general-header {
    font-family: 'Raleway thin';
    padding-bottom: 5px;
    font-size: x-large;
}

.general-text {
    font-family: 'Open Sans Light';
    padding-bottom: 5px;
}

.three-text-section {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 0 60px;;
}

.footer {
    background-color: rgb(234, 234, 234);
    padding: 40px 60px 30px 60px;
    height: 300px;
    width: 100%;
    margin: 35px 0;
    line-height: 27px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 150px;
    line-height: 40px;
}

.footer-titles {
    margin: 0;
    font-family: 'Raleway Bold';
}

li.footer-links a {
    color: black;
    text-decoration: none;
    font-family: 'Open Sans Light';
}

ul.footer_ul {
    padding-inline: 0;
    margin-block: 0;
}


li.footer-links:hover a {
    text-decoration: underline;
    cursor: pointer;
    color: #00b6e8;
}

@media (max-width: 740px) {
    .page {
        margin: 0 auto;
        max-width: 100vw;
    }

    .button {
        top: 7px;
        font-size: large;
        z-index: 100;
        height: auto;
        width: 40px;
    }

    .button:hover {
        background-color: #00b6e8;
        color: white;
    }

    .button {
        background-color: white;
        color: lightgray;
        border: solid white 1px;
    }

    .btn-active {
        border: solid white 1px;
        background-color: #00b6e8;
        color: white;
    }

    .btn-active:hover {
        background-color: white;
        color: lightgray;
    }

    #btnnl {
        left: 5px;
    }

    #btnen {
        left: 50px;
    }

    .text-section-first {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 70px 10px 0px 10px;
    }

    .text-header {
        padding: 0;
        font-size: small;
    }

    .text {
        padding: 0;
        text-align: center;
    }

    .logo {
        position: relative;
        width: 150px;
        height: 150px;
        top: 60px;
        margin: auto;
        display: block;
        left: 0;
    }

    .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hamburger {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 99;
        background-color: #00b6e8;
        cursor: pointer;
        height: 49px;
        width: 45px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 7px;
    }

    .mobile-nav {
        position: absolute;
        width: 100%;
        background-color: #00b6e8;
        height: 49px;
        margin: 0;
        padding: 0;
        left: 0;
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
        transform: translateY(-100%);
        transition: transform 0.2s;
        z-index: 99;
        right: 0;
        left: 0;
        top: 31px;
        color: white;
        list-style: none;
        display: none;
        background-color: #00b6e8;
        border: solid white 1px;
        border-bottom: none;
    }

    li.menuItem {
        border-bottom: solid white 1px;
        width: 100%;
        padding: 10px;
        text-align: center;
    }

    li.menuItem a {
        color: white;
    }

    li.active a {
        color: white;
        border: none;
    }

    .showMenu {
        display: block;
        transform: translateY(0);
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 30px;
        height: 4px;
        background-color: white;
        margin: 0;
        transition: 0.4s;
    }

    .change .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
    }

    .grid-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 400px auto 10px auto;
        left: 0;
        right: 0;
        max-width: 100%;
        height: auto;
    }

    .img-grids {
        display: flex;
        justify-content: center;
    }

    .img-grid {
        object-fit: cover;
        height: 250px;
        width: 365px;
        opacity: 1;
    }

    .price-tag {
        inset: 68% 0 0% 62%;
    }

    .text-section-second {
        text-align: center;
        height: 400px;
        line-height: 20px;
        padding: 15px;
    }

    .three-text-section {
        text-align: center;
        flex-direction: column;
        gap: 0;
        padding: 0;
    }

    .footer {
        gap: 25px;
    }
}

@media (max-width: 500px) {
    .text-section-second {
        height: 500px;
    }
}

@media (max-width: 400px) {
    .grid-container {
        margin: 350px auto 10px auto;
    }

    .text-header {
        font-size: xx-small;
    }

    .text {
        font-size: small;
    }

    .img-grid {
        object-fit: cover;
        height: 200px;
        width: 315px;
        opacity: 1;
    }

    li.product-link a {
        font-size: large;
    }

    .price-tag {
        inset: 65% 0 0% 62%;
        height: 30px;
        width: 100px;
    }

    .price {
        font-size: x-large;
        left: 25%;
    }

    .price-triangle {
        bottom: -16px;
        transform: rotate(9deg);
        border-top: 9px solid transparent;
        border-right: 60px solid #00b6e8;
        border-bottom: 10px solid transparent;
    }

    .text-section-second {
        font-size: small;
    }
}

@media (max-width:330px) {
    .text-header {
        font-size: xx-small;
    }

    .text {
        font-size: small;
    }

    .grid-container {
        margin: 400px auto 10px auto;
    }

    .img-grid {
        height: 165px;
        width: 235px;
    }

    li.product-link a {
        font-size: medium;
    }

    .price-tag {
        inset: 65% 0 0% 55%;
        height: 30px;
        width: 100px;
    }

    .price {
        font-size: x-large;
        left: 26%;
    }

    .price-triangle {
        bottom: -16px;
        transform: rotate(9deg);
        border-top: 9px solid transparent;
        border-right: 60px solid #00b6e8;
        border-bottom: 10px solid transparent;
    }
}

@media (max-width: 1150px) {
    .middle-section {
        padding-bottom: 20px;
    }

    .footer {
        font-size: small;
        /* flex-direction: column; */
        /* gap: 25px; */
        align-items: center;
    }

    ul.footer_ul {
        padding-inline: 0;
        margin-block: 0;
    }
}

@media (min-width: 740px) and (max-width:1150px) {
    .menu {
        gap: 25px;
    }

    .text-section-first {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 80px 10px 0 10px;
    }

    .text-header {
        padding: 0;
        font-size: small;
    }

    .text {
        padding: 0;
        text-align: center;
    }

    .logo {
        width: 170px;
        height: 170px;
        left: 35px;
    }

    .grid-container {
        gap: 10px;
        margin: 0 auto;
        left: 0;
        right: 0;
        max-width: 100%;
        height: auto;
        margin: 500px auto 10px auto;
    }

    .img-grids {
        display: flex;
        justify-content: center;
    }

    .img-grid {
        object-fit: cover;
        height: 245px;
        width: 340px;
        opacity: 1;
    }

    .price-tag {
        inset: 68% 0 0% 62%;
    }


    .text-section-second {
        padding: 30px 60px 30px 60px;
    }
}

@media (min-width: 800px) and (max-width:1150px) {
    .hamburger {
        display: none;
    }

    .text-section-first {
        align-items: flex-start;
        top: 154px;
        text-align: left;
        left: 0;
        padding: 60px 40px;
        height: 480px;
        width: 100%;
    }

    .text-header {
        padding-top: 0px;
        padding-left: 20px;
    }

    .text {
        text-align: left;
        padding-right: 40%;
        padding-left: 20px;
        margin: 0;
    }

    .img-grid {
        object-fit: cover;
        height: 250px;
        width: 370px;
        opacity: 1;
    }
}

@media (min-width: 900px) and (max-width:1150px) {
    .img-grid {
        object-fit: cover;
        height: 290px;
        width: 420px;
        opacity: 1;
    }

    .price-tag {
        inset: 70% 0 0% 68%;
    }

    .text-section-second {
        padding: 30px 280px 30px 60px;
    }
}